*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Since I'm entirely not sure what font was used. */
  font-family: helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

